<section>
  <h2>Welcome to QuizBuzz!</h2>
<!--     
  <h2>Browse Quizzes by Category</h2>
    <div class="tags">
      <button>JUnit</button>
      <button>Java</button>
      <button>SQL</button>
      <button>HTML, CSS, JS, Bootstrap</button>
      <button>Angular</button>
      <button>DevOps</button>
      <button>Docker</button>
      <button>Jenkins</button>
      <button>Spring Boot</button>
      <button>+ Add new tag</button>
    </div>
    <div class="row">
      <div class="col-md-2 col-sm-3">
        <div class="card">
          <img src="assets/images/java-logo-vector.png" class="card-img-top" height="10%" alt="...">
          <div class="card-body">
            <h5 class="card-title">Language</h5>
            <p class="card-text">Week 1</p>
            <p class="card-text"><button class="btn btn-secondary">Java Basics</button></p>
            <p class="card-text"><small class="text-muted">50 questions</small><i class="bi bi-alarm"></i>1 hr</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="card">
          <img src="assets/images/PostgreSQL-Logo.wine.svg" class="card-img-top" height="10%" alt="...">
          <div class="card-body">
            <h5 class="card-title">Database</h5>
            <p class="card-text">Week 2</p>
            <p class="card-text"><small class="text-muted">50 questions</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="card">
          <img src="assets/images/webtech.png" class="card-img-top" height="10%" alt="...">
          <div class="card-body">
            <h5 class="card-title">Servlets, HTML, CSS, JS, Bootstrap</h5>
            <p class="card-text">Week 3</p>
            <p class="card-text"><small class="text-muted">50 questions</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="card">
          <img src="assets/images/Spring_Framework-Logo.png" class="card-img-top" height="10%" alt="...">
          <div class="card-body">
            <h5 class="card-title">Spring Framework, MVC, Boot</h5>
            <p class="card-text">Week 3</p>
            <p class="card-text"><small class="text-muted">50 questions</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="card">
          <img src="assets/images/angular.png" class="card-img-top" height="10%" alt="...">
          <div class="card-body">
            <h5 class="card-title">Angular</h5>
            <p class="card-text">Week 3</p>
            <p class="card-text"><small class="text-muted">50 questions</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="card">
          <img src="assets/images/vertical-logo-monochromatic.png" class="card-img-top" height="10%" alt="...">
          <div class="card-body">
            <h5 class="card-title">Docker</h5>
            <p class="card-text">Week 3</p>
            <p class="card-text"><small class="text-muted">50 questions</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="card">
          <img src="assets/images/Hibernate_logo_a.png" class="card-img-top" height="10%" alt="...">
          <div class="card-body">
            <h5 class="card-title">Hibernate</h5>
            <p class="card-text">Week 3</p>
            <p class="card-text"><small class="text-muted">50 questions</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-3">
        <div class="card">
          <img src="assets/images/kubernetes-horizontal-color.png" class="card-img-top" height="10%" alt="...">
          <div class="card-body">
            <h5 class="card-title">Kubernetes and Microservices</h5>
            <p class="card-text">Week 3</p>
            <p class="card-text"><small class="text-muted">50 questions</small></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Quiz Name</h5>
            <p class="card-text">Quiz Description</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Quiz Name</h5>
            <p class="card-text">Quiz Description</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Quiz Name</h5>
            <p class="card-text">Quiz Description</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
    </div> -->

    <div class="row">
      <h5 class="col-auto">{{getName()}}</h5>
      <h5 class="col">Total Score: {{getTotalScore()}}</h5>
    </div>

    <div class="row featured-section">
      <h2>Featured Quizzes: </h2>
      <ng-container *ngFor="let quiz of quizzes">
        <div class="row card text-dark bg-light mb-3 featured-row">
          <div class="col-10">
            <b>Quiz Name: </b>{{quiz.name}}<br>
            <b>Quiz Description: </b>{{quiz.description}}<br>   
            <div class="row" *ngIf="quiz.tags !== undefined && quiz.tags.length !== 0">
              <b class="col-auto">Tags:</b>
              <ng-container *ngFor="let tags of quiz.tags">
                <div class="col-auto">
                  {{tags.name}}
                </div>
              </ng-container> 
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" (click)="takeQuiz(quiz.quizId)" style="position:absolute; top:50%; transform: translateY(-50%);">Take Quiz</button> 
          </div> 
        </div>
      </ng-container>
    </div>

  </section>