<section>
    <h2>Browse Quizzes</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Quiz Name</h5>
            <p class="card-text">Quiz Description</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Quiz Name</h5>
            <p class="card-text">Quiz Description</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card text-dark bg-light mb-3">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Quiz Name</h5>
            <p class="card-text">Quiz Description</p>
            <a href="#" class="card-link">Card link</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Quiz</h5>
            <p class="card-text">Quiz Description</p>
            <a href="#" class="btn btn-primary">Take quiz</a>

          </div>
          <div class="card-footer"><a href="#" class="btn btn-secondary">Tag</a><a href="#" class="btn btn-secondary">Tag</a></div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Quiz</h5>
            <p class="card-text">Quiz Description</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </section>