h2 {
    font-family: 'Futura Bold';
}
.card {
    background-color: aliceblue;
}

.card-body {
    background-color: white;
}

i {
    text-align: right;
}

.featured-section {
    margin-top: 5%;
}

.featured-row {
    display: table;
}

.featured-row [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.text-shadow {
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color: white;
}

