<div class="container" style="text-align:center;">
    <h1 style="text-align:center;">LeaderBoard</h1>
    <h2>Check Where You Stand</h2>
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <th>First Name</th>
                <th class="sort" (click)="seeScoreBoard('totalPoints')">Total Points</th>
                <th class="sort" (click)="seeScoreBoard('pointPercentage')">Possible Points</th>
                <th class="sort" (click)="seeScoreBoard('pointPercentage')">Point Percentage</th>
            </thead>
            <tbody>
                <tr *ngFor="let scores of scoreBoard" [ngClass]="{'leaderboard' : scores.userId === userId}">
                    <td> {{ scores.firstName }} </td>
                    <td> {{ scores.totalPoints }}</td>
                    <td> {{ scores.possiblePoints }}</td>
                    <td> {{ scores.pointPercentage }}</td>
                </tr>
            </tbody>
        </table>
    </div>
