

<div class = "container">
    <div class = "card">
        <h3 class = "text-center">Quiz Results</h3>
        <div class = "card-body">
            <table class = "table table-striped">
                <thead>
                    <th>Your Answer</th>
                    <th>Question</th>
                    <th>The Correct Answer</th>
                    <th>Your Score</th>{{userPoints}}
                </thead>
           <tbody>
                 <tr *ngFor = "let a of answers">{{a}}</tr>
           
                 <tr *ngFor= "let q of question">{{q}}</tr>
            
                <tr *ngFor="let c of correct">{{c}}</tr>
          </tbody>
            </table>
            
        </div>
    </div>
</div>

