<h2>Enter the queston below</h2>
<p></p>
<div class="container">
    <form (ngSubmit)="onClick(f)" #f="ngForm">
        <!-- <div *ngIf="questionType === 'multipleAnswers'; else radio"> -->
        <div>
            <div>
                <label for="answer">Answer #1</label>
                <input id="answer" type="text" name="answer" placeholder="Answer here" required ngModel>
                <label for="correct">Correct answer?</label>
                <input type="checkbox" id="correct" name="correct" ngModel>
            </div>
            <div>
                <label for="answer">Answer #2</label>
                <input id="answer2" type="text" name="answer2" placeholder="Answer here" required ngModel>
                <label for="correct">Correct answer?</label>
                <input type="checkbox" id="correct2" name="correct2" ngModel>
            </div>
            <div>
                <label for="answer">Answer #3</label>
                <input id="answer3" type="text" name="answer3" placeholder="Answer here" required ngModel>
                <label for="correct">Correct answer?</label>
                <input type="checkbox" id="correct3" name="correct3" ngModel>
            </div>
            <div>
                <label for="answer">Answer #4</label>
                <input id="answer4" type="text" name="answer4" placeholder="Answer here" required ngModel>
                <label for="correct">Correct answer?</label>
                <input type="checkbox" id="correct4" name="correct4" ngModel>
            </div>
        </div>
        <!-- <ng-template #radio>
            <div>
                <label for="answer">Answer #1</label>
                <input id="answer" type="text" name="answer" placeholder="Answer here" required ngModel>
                <label for="correct">Correct answer?</label>
                <input id="correct" type="radio" [value]="true" name="correct" ngModel>
            </div>
            <div>
                <label for="answer2">Answer #2</label>
                <input id="answer2" type="text" name="answer2" placeholder="Answer here" required ngModel>
                <label for="correct2">Correct answer?</label>
                <input id="correct2" type="radio" [value]="true" name="correct" ngModel>
            </div>
             <div>
                <label for="answer3">Answer #3</label>
                <input id="answer3" type="text" name="answer3" placeholder="Answer here" required ngModel>
                <label for="correct">Correct answer?</label>
                <input id="correct3" type="radio" [value]="true" name="correct" ngModel>
            </div>
            <div>
                <label for="answer4">Answer #4</label>
                <input id="answer4" type="text" name="answer4" placeholder="Answer here" required ngModel>
                <label for="correct">Correct answer?</label>
                <input id="correct4" type="radio" [value]="true" name="correct" ngModel>
            </div>
        </ng-template> -->
        <div>
            <button type="submit">Submit Answers</button>
        </div>
    </form>
</div>