<form [formGroup]="createQuiz" >

  <div>
    <h2>Create a Quiz</h2>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"  name="name" />
      </div>
    </form>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" id="description"
          name="description" />
      </div>
    </form>
  </div>

  <div class="tags" name="tag">
    <!-- (click)="addTag(tag)"> -->
    <!-- waiting on other groups to finish to add functionality -->
    <button>JUnit</button>
    <button>Java</button>
    <button>SQL</button>
    <button>HTML, CSS, JS</button>
    <button>Angular</button>
    <button>DevOps</button>
    <button>Docker</button>
    <button>Jenkins</button>
    <button>Spring Boot</button>
    <button>+ Add new tag</button>
  </div>
  <div formGroupName="questionArray">
    <app-question (questionEvent)="recieveQuestion($event)"></app-question>
  </div>
  <div>

    <!-- <div *ngFor="let numberQuestions of quiz.questions">  -->
      <!-- container? -->
      
    <!-- </div> -->
  </div>
  <div>
    <!-- <button type="button" (click)="" class="btn btn-primary">Add question</button> -->
    <button (click)="onSubmit()"  class="btn btn-primary">reactive submit</button>
    <!-- <button (click)="save()" class="btn btn-success">Save Quiz</button> -->
    <!-- <button (click)="add()" class="btn btn-success">Submit</button>  -->
  </div>
</form>