<div class="container" style="text-align:center;">
    <div class="card-body">
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Date Created</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let quiz of quizzes">
                    <td>{{quiz.name}}</td>
                    <td>{{quiz.createdDate | date}} </td>
                    <td><button class="btn btn-primary" (click)="deleteQuiz(quiz)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>