<h2>Enter the queston and the answers below</h2>
<p></p>
<div class="container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div>
        <input id="questionid" type="number" name="questionid"
        placeholder="Question ID" required ngModel>
        <label for="questionid">Question ID</label>
        </div>
    <p></p>
    <div>
        <input id="answer" type="text" name="answer"
        placeholder="Answer here" required ngModel>
        <label for="answer">Answer #1</label>
    </div>
    <div>
        <span>
            <input type="checkbox" id="correct" name="correct" 
            ngModel>
            <label for="correct">Correct answer?</label>
        </span>
    </div>
    <div>
        <input id="answer2" type="text" name="answer2"
        placeholder="Answer here" required ngModel>
        <label for="answer2">Answer #2</label>
    </div>
    <div>
        <span>
            <input type="checkbox" id="correct2" name="correct"
            ngModel>Correct Answer?
        </span>
    </div>
    <div>
        <input id="answer3" type="text" name="answer3"
        placeholder="Answer here" required ngModel>
        <label for="answer3">Answer #3</label>
    </div>
    <div>
        <span>
            <input type="checkbox" id="correct3" name="correct"
            ngModel>
            <label for="correct">Correct answer?</label>
        </span>
    </div>
    <div>
        <button type="submit" [disabled]="f.invalid">Submit Answers</button>
    </div>
    </form>
</div>