<nav [class]="navClass" style="background-color: #474C55;">
  <div class="container-fluid">
    <a class="navbar-brand" href="home">
      <img [src]="logo" alt="" width="100" height="30" class="d-inline-block align-text-top">
      QuizBuzz
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="scoreboard">Leaderboard</a>
        </li>
        <li *ngIf="isAdmin() === true">
          <a class="nav-link" href="tags">Edit Tags</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Quizzes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="quiz/new">Create a Quiz</a></li>
            <li><a class="dropdown-item" href="quiz/selection">Take a Quiz</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
          </ul>
        </li>
      </ul>
      <div class="flex-shrink-0 dropdown marginRight">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-light" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src={{avatar}} alt="mdo" width="32" height="32" class="rounded-circle">
          {{getName()}}
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" (click)="signOut()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
