<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img [src]="logo" alt="" width="100" height="30" class="d-inline-block align-text-top">
      QuizBuzz
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Leaderboard</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Quizzes
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="quiz/new">Create a Quiz</a></li>
            <li><a class="dropdown-item" href="#">Take a Quiz</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="tags/new">Create Topic Tags</a></li>
            <li><a class="dropdown-item" href="tags/edit">Attach Topic Tags to Quizzes</a></li>
            <li><a class="dropdown-item" href="tags/delete">Delete Topic Tags</a></li>
          </ul>
        </li>
      </ul>
      <div class="flex-shrink-0 dropdown">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle text-light" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src={{avatar}} alt="mdo" width="32" height="32" class="rounded-circle">
          {{getName()}}
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" (click)="signOut()">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="px-3 py-2 border-bottom mb-3 navbar-light bg-light">
  <div class="container d-flex flex-wrap justify-content-center">
    <h3>Dashboard</h3>

    <div class="text-end">
      <button type="button" class="btn btn-light text-dark me-2">Student</button>
    </div>
  </div>
</div>