<title>Quiz Buzz Test</title><br>

    
<br>

    <!--where the questions and answers are -->
    <div class="test-group" ><h3>{{currentQuestion?.questionId}}: {{currentQuestion?.question}}</h3> </div>
    <form #testForm="ngForm" >
      
      <div *ngFor="let a of currentQuestion?.answers"  >
        <input  id="form-answers" name="a.answer" value="{{a.answer}}"  type ="radio" style="margin-bottom:20px;"
          class="test-group" (change)="getAnswers($event)"  
            [checked]="a?.answer === currentQuestion.selectedAnswer" required ngModel> <span><b> {{a?.answer}}</b></span>
      </div>
      
      <!-- <br> -->
      <button class="btn btn-primary" (click)="previous()" >Previous</button>
      <button class="btn btn-primary" style="margin-left: 10px; margin-right:10px;" type="button" (click)="submit(testForm)" [disabled]="isDisable || !testForm.valid" >Submit</button>
      <button class="btn btn-primary" (click)="next()" >Next</button>
  
    </form>